<h3 class="text-center">Welcome to Travel App!</h3>

<%= render 'home/navbar' %>

<h4>Attractions</h4>

<div class="d-flex flex-row flex-wrap justify-content-around">
    <div class="card" style="width: 10rem;">
        <img src="https://placehold.co/50" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Place Name</h5>
            <p class="card-text">Address goes here</p>
            <a href="#" class="btn btn-danger">Remove</a>
        </div>
    </div>
    <div class="card" style="width: 10rem;">
        <img src="https://placehold.co/50" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Place Name</h5>
            <p class="card-text">Address goes here</p>
            <a href="#" class="btn btn-danger">Remove</a>
        </div>
    </div>
    <div class="card" style="width: 10rem;">
        <img src="https://placehold.co/50" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Place Name</h5>
            <p class="card-text">Address goes here</p>
            <a href="#" class="btn btn-danger">Remove</a>
        </div>
    </div>
    <div class="card" style="width: 10rem;">
        <img src="https://placehold.co/50" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Place Name</h5>
            <p class="card-text">Address goes here</p>
            <a href="#" class="btn btn-danger">Remove</a>
        </div>
    </div>
    <div class="card" style="width: 10rem;">
        <img src="https://placehold.co/50" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Place Name</h5>
            <p class="card-text">Address goes here</p>
            <a href="#" class="btn btn-danger">Remove</a>
        </div>
    </div>
</div>
<br/>

<h4>Hotels</h4>
<div class="d-flex flex-row flex-wrap justify-content-around">
    <div class="card" style="width: 10rem;">
        <img src="https://placehold.co/50" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Place Name</h5>
            <p class="card-text">Address goes here</p>
            <a href="#" class="btn btn-danger">Remove</a>
        </div>
    </div>
    <div class="card" style="width: 10rem;">
        <img src="https://placehold.co/50" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Place Name</h5>
            <p class="card-text">Address goes here</p>
            <a href="#" class="btn btn-danger">Remove</a>
        </div>
    </div>
    <div class="card" style="width: 10rem;">
        <img src="https://placehold.co/50" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Place Name</h5>
            <p class="card-text">Address goes here</p>
            <a href="#" class="btn btn-danger">Remove</a>
        </div>
    </div>
    <div class="card" style="width: 10rem;">
        <img src="https://placehold.co/50" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Place Name</h5>
            <p class="card-text">Address goes here</p>
            <a href="#" class="btn btn-danger">Remove</a>
        </div>
    </div>
    <div class="card" style="width: 10rem;">
        <img src="https://placehold.co/50" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Place Name</h5>
            <p class="card-text">Address goes here</p>
            <a href="#" class="btn btn-danger">Remove</a>
        </div>
    </div>
</div>

<h4>Restaurants</h4>
<div class="d-flex flex-row flex-wrap justify-content-around">
    <div class="card" style="width: 10rem;">
        <img src="https://placehold.co/50" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Place Name</h5>
            <p class="card-text">Address goes here</p>
            <a href="#" class="btn btn-danger">Remove</a>
        </div>
    </div>
    <div class="card" style="width: 10rem;">
        <img src="https://placehold.co/50" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Place Name</h5>
            <p class="card-text">Address goes here</p>
            <a href="#" class="btn btn-danger">Remove</a>
        </div>
    </div>
    <div class="card" style="width: 10rem;">
        <img src="https://placehold.co/50" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Place Name</h5>
            <p class="card-text">Address goes here</p>
            <a href="#" class="btn btn-danger">Remove</a>
        </div>
    </div>
    <div class="card" style="width: 10rem;">
        <img src="https://placehold.co/50" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Place Name</h5>
            <p class="card-text">Address goes here</p>
            <a href="#" class="btn btn-danger">Remove</a>
        </div>
    </div>
    <div class="card" style="width: 10rem;">
        <img src="https://placehold.co/50" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Place Name</h5>
            <p class="card-text">Address goes here</p>
            <a href="#" class="btn btn-danger">Remove</a>
        </div>
    </div>
</div>
