<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="text-center">
                    <h2 class="display-5 text-blue text-center fw-bold">
                        Welcome to Travel App!!!
                    </h2>
                    <%= link_to "Sign in", new_user_session_path, class: "btn btn-outline-primary mt-3" %>
                    <div class="mt-5">
                    <p>Create a new account:</p>
                        <%= button_to "Register", new_user_registration_path, :method => :get, class: "btn btn-outline-success" %>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="card">
                <%= image_tag "Venice-Italy-Wallpaper.jpg", class: "rounded-top" %>
                <div class="card-body">
                    <h5 class="card-title">Place to go!</h5>
                    <p class="card-text"> Venice Italy Wallpapers Download Free | PixelsTalk.Net</p>
                </div>
            </div>
        </div>
    </div>
</div>

<%= render partial: "shared/footer"%>